<nav class="navbar navbar-expand-lg navbar-light">
  <div class="container" fxLayout="column" fxLayoutAlign="none">
    <div fxLayout="row" fxLayoutAlign="space-between" fxFlex="100">
      <div fxLayout="row" fxLayoutAlign="space-between">
        <a class="navbar-brand" href="#" routerLink="/login" fxLayout="row" fxLayoutAlign="space-between" >
          <img src="/assets/wf-logo.png" alt="wf-logo" width="50" height="50" class="d-inline-block align-text-top">
          <span class="app-name">Weather Forecast</span>
        </a>
      </div>
      <a class="navbar-text" fxLayout="row" fxLayoutAlign="space-between" href="#">
        <div class="dropdown">
          <a class="dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-bs-toggle="dropdown" aria-expanded="false">
            <img src="/assets/user_icon.png" alt="user_icon" width="30" height="30">
          </a>

          <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink">
            <li><a class="dropdown-item" href="javascript:0;">Profile</a></li>
            <li><a class="dropdown-item" href="#" routerLink="/landing">Logout</a></li>
          </ul>
        </div>

      </a>
    </div>
    <span class="slogan-text">An umbrella for your day!</span>
  </div>
</nav>
