.weather-card{
  display: inline-block;
  border:1px solid #ccc;
  margin: 1rem;
}
.card-header{
  color: #000;
  font-size: 1.5rem;
  font-weight: 600;
}
.list-group-item.list-time{
  background: #676767;
  color: #fff;
}
